<div>
  <div class="tabbed-view-header">
    <h2 class="tabbed-view-title">Download As&hellip;</h2>
    <button class="tabbed-view-close-btn" ng-click="dismiss()">
      <i class="fa fa-remove"></i>
    </button>
  </div>

  <div class="tabbed-view-body">
    <div class="gf-form">
      <label class="gf-form-label width-auto">Export Type</label>
      <select class="gf-form-input"
        ng-model="exportType"
        ng-options="eType.value as eType.text for eType in EXPORT_TYPES">
      </select>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-auto">File Name Pattern</label>
        <input type="text"
          class="gf-form-input width-max"
          ng-model="fileNamePattern"
          placeholder="{{fileNamePatternPlaceholder}}"
        />
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-auto">File Name</label>
        <input type="text"
          class="gf-form-input width-max"
          value="{{getFileName()}}"
          readonly
        />
    </div>
    <h3>File Name Tips</h3>
    <ul style="margin-left: 1em;">
      <li><code>&lt;DASHBOARD&gt;</code> will be replaced with the title of dashboard.</li>
      <li><code>&lt;PANEL&gt;</code> will be replaced with the title of this panel.</li>
      <li><code>&lt;TITLE&gt;</code> will be replaced with either the title of this panel or if it doesn't have a title it will be replaced with the title of dashboard.</li>
      <li>Letter combinations that normally refer to date/time parts will be replaced with those date/time parts unless wrapped in single quotes.</li>
    </ul>
    <div class="gf-form-button-row">
      <button type="button" class="btn btn-secondary" ng-click="download(true)">
        Download All As {{exportType}}
      </button>
      <button type="button" class="btn btn-secondary" ng-click="download(false)">
        Download As {{exportType}}
      </button>
    </div>
  </div>
</div>